.container {
    display: flex;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 30px;
    border-radius: 30px;
    background-color: var(--supporting-color);
}

.image {
    margin: 20px 50px 20px 0;
    
}

.cardcover {
    width: 230px;
}

.bookInfo a {
    text-decoration: none;
    color: black;
}

.bookInfo a:visited {
    text-decoration: none;
    color: black;
}

.take {
    padding: 10px;
    border-radius: 5px;
    outline: none;
    border: none;
    background-color: var(--first-color);
    transition: 0.2s;
    font-weight: 500;
}

.take:disabled {
    background-color: grey;
    color: black;
    font-weight: 600;
}

.take:hover {
    background-color: hsl(28, 65%, 52%);
    transition: 0.2s;
}